* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

#navbar {
    background: linear-gradient(to bottom, red, yellow, green);
    display: flex;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    font-family: "copperplate", serif;
    font-weight: 300;
    font-style: normal;
    color: black;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
}

#navbar #logo {
    width: 150px;
}

#navbar .cta-button {
    background-color: white;
    color: green;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

#hero-1 {
    background-image: 
    url("../images/jerkchicken.jpeg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    align-items: center;
}

#hero-1 .hero-content {
    text-align: center;
    color: white;
    padding-top: 20vh;
}

#hero-1 h2 {
    font-size: 8vw;
    font-family: "copperplate", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: black;
    margin-bottom: 5vh;
    margin-right: 5vw;
}

#hero-1 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;
}

#footer {
    background: linear-gradient(to bottom, red, yellow, green);
    font-family: "cooper-black-std", serif;
    font-weight: 400;
    font-style: normal;
    padding: 12px;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
}

.section {
    background: radial-gradient(
        at top left,
        black,
        white
    );
    padding: 48px;
}

.single-column {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
}

