/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#section-2 .example-card {
    padding: 24px;
    margin: 16px;
}

.card-style-2 {
    width: 350px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 20px;
    flex-wrap: wrap;
    border-radius: 50px;
}

.card-style-2 img {
    width: 100%;
    padding: 48px;
    border-radius: 100%;
}

.card-style-2 h2 {
    margin: 24px;
}

.animagram-footer {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    font-size: 25px;
}

.anigram-header {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    font-size: 25px;
}
