#style1-heading1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#style1-block1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 24px;
    background-color: #F4F482;

}

#style2-block1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 24px;
    background-color: #F85E00;
}

#style4-block1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 24px;
    background-color: #A41623;
}

#style2-heading2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#style2-block2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 24px;
    background-color: #CAF0F8;
}